.backgroundImage {
  background-color: black;
  background-image: url("../../../../assets/img/hero.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: 100%;
}
